<a href="{{ 'logout' | alias }}">Logout</a>
<div class="container">
	<h2>Backend - {{ @userName }}</h2>
	<p>Das ist die Einstiegsseite für das Backend unserer Applikation. Sie steht nur eingeloggten UserInnen zur Verfügung.</p>
	<p>Hier sollte auch noch die Navigation zu weiteren login geschützten Seiten eingebunden werden.</p>
</div>