<div class="container">

	<h2>Welcome Home</h2>
	<div class="mb-4"> <a href="{{ 'courseNewForm' | alias }}">Neuer Kurs</a></div>
	<div class="container">
		<table class="table table-striped" id="coursesTable">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Beschreibung</th>
					<th>Update</th>
					<th>Löschen</th>
				</tr>
			</thead>
			<tbody>
				<repeat group="{{ @courses }}" key="{{ @key }}" value="{{ @course }}">
					<tr>
						<td>
							<a href="/course/{{ @course.course_id }}">
								{{ @course.title }}
							</a>
						</td>
						 <td>{{ @course.description }} </td>
						<td>
							<a class="btn btn-success" href="{{ 'courseUpdateForm', 'cid=' . @course.course_id | alias }}">Aktualisieren</a>
						</td>
						<td>
							<button class="btn btn-danger btn-delete" data-cid="{{ @course.course_id }}" data-dies-und-das="1">Löschen</button>
						</td>
					</tr>
				</repeat>
			</tbody>
		</table>
	</div>
</div>