<div class="container">

	<h2>Welcome Home</h2>
	<div class="mb-4"> <a href="{{ 'courseNewForm' | alias }}">Neuer Kurs</a></div>
	<div class="container">
		<!-- <div class="row">
			<repeat group="{{ @courses }}" key="{{ @key }}" value="{{ @course }}">
				<div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex justify-content-center">
					<div class="card w-100 m-2" style="min-height: 15rem;">
						<div class="card-body d-flex flex-column justify-content-center align-items-start align-items-between">
							<a href="/course/{{ @course.course_id }}">
								<h5 class="card-title">{{ @course.title }}</h5>
							</a>
							<p class="card-text"> {{ @course.description }} </p>
							<div class="w-100 d-flex justify-content-between">
								<a class="btn btn-success" href="/course/update/{{ @course.course_id }}">Aktualisieren</a>
								<a class="btn btn-danger" href="#">Löschen</a>
							</div>
						</div>
					</div>
				</div>
			</repeat>
		</div> -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Beschreibung</th>
					<th>Update</th>
					<th>Löschen</th>
				</tr>
			</thead>
			<tbody>
				<repeat group="{{ @courses }}" key="{{ @key }}" value="{{ @course }}">
					<tr>
						<td>
							<a href="/course/{{ @course.course_id }}">
								{{ @course.title }}
							</a>
						</td>
						 <td>{{ @course.description }} </td>
						<td>
							<a class="btn btn-success" href="{{ 'courseUpdateForm', 'cid=' . @course.course_id | alias }}">Aktualisieren</a>
						</td>
						<td>
							<a class="btn btn-danger" href="{{ 'deleteCourse', 'cid=' . @course.course_id | alias }}" onclick="return confirm('Wirklich löschen?')">Löschen</a>
						</td>
					</tr>
				</repeat>
			</tbody>
		</table>
	</div>
</div>