<div class="container">
	<form action="" method="post">
		<div class="mb-4">
			<label for="email" name="email" class="form-label">E-Mail</label>
			<input type="email" name="email" id="email">
		</div>

		<div class="mb-4">
			<label for="password" name="password" class="form-label">Passwort</label>
			<input type="password" name="password" id="password">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>