<div class="container">
	<form action="" method="post" novalidate>
		<input type="hidden" name="course_id" value="{{ @fieldValues.course_id }}">
		<div class="mb-4">
			<label for="title" class="form-label">Titel</label>
			<input type="text" name="title" id="title" class="form-control" required value="{{ @fieldValues.title ?? '' }}">
			<check if="{{ isset(@fieldErrors.title) }}">
				<div class="text-danger py-2">{{ @fieldErrors.title }}</div>
			</check>
		</div>
		<div class="mb-4">
			<label for="description" class="form-label">Beschreibung</label>
			<textarea name="description" id="description" class="form-control" rows="5">{{ @fieldValues.description ?? '' }}</textarea>
			<check if="{{ isset(@fieldErrors.description) }}">
				<div class="text-danger py-2">{{ @fieldErrors.description }}</div>
			</check>
		</div>
		<div class="mb-4">
			<label for="date_start" class="form-label">Datum Beginn</label>
			<input type="date" name="date_start" id="date_start" class="form-control" required  value="{{ @fieldValues.date_start ?? '' }}">
			<check if="{{ isset(@fieldErrors.date_start) }}">
				<div class="text-danger py-2">{{ @fieldErrors.date_start }}</div>
			</check>
		</div>
		<div class="mb-4">
			<label for="date_end" class="form-label">Datum Ende</label>
			<input type="date" name="date_end" id="date_end" class="form-control" required  value="{{ @fieldValues.date_end ?? '' }}">
			<check if="{{ isset(@fieldErrors.date_end) }}">
				<div class="text-danger py-2">{{ @fieldErrors.date_end }}</div>
			</check>
		</div>
		<div class="mb-4">
			<label for="max_students" class="form-label">Max. TN Anzahl</label>
			<input type="text" name="max_students" id="max_students" class="form-control" required  value="{{ @fieldValues.max_students ?? '' }}">
			<check if="{{ isset(@fieldErrors.max_students) }}">
				<div class="text-danger py-2">{{ @fieldErrors.max_students }}</div>
			</check>
		</div>
		<div class="mb-4">
			<select name="room_id" id="roomId" class="form-select">
				<option value="">Bitte wählen</option>
				<repeat group="{{ @rooms }}" value="{{ @room }}">
					<option value="{{ @room.room_id }}" {{ isset(@fieldValues.room_id) && @fieldValues.room_id == @room.room_id ? 'selected' : '' }}>{{ @room.title }}</option>
				</repeat>
			</select>
		</div>
		<div class="form-check mb-4">
			<!-- Default value einer checkbox als hidden input setzen. Name muss gleich
			sein wie der der checkbox. -->
			<input type="hidden" name="active" value="0">
			<input class="form-check-input" type="checkbox" name="active" value="1" id="active" {{ isset(@fieldValues.active) && @fieldValues.active === '1' ? 'checked' : '' }}>
			<label class="form-check-label" for="active">
				Aktiv
			</label>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Senden</button>
		</div>
	</form>
</div>