<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
		Mit $f3->set gesetzte Variablen können über die unten stehende Syntax ausgegeben werden.
	 -->
	<title>{{ @siteTitle }}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="js/courses.js" defer></script>
</head>
<body>
<div class="container">
	<h1>{{ @mainHeading }}</h1>
</div>

<check if="{{ isset(@appStatus) }}">
	<div class="container">
		<check if="{{ isset(@appStatus.success) }}">
			<div class="alert alert-success">{{ @appStatus.success }}</div>
		</check>
		<check if="{{ isset(@appStatus.warning) }}">
			<div class="alert alert-warning">{{ @appStatus.warning }}</div>
		</check>
		<check if="{{ isset(@appStatus.error) }}">
			<div class="alert alert-danger">{{ @appStatus.error }}</div>
		</check>
	</div>
</check>

<main>
	<!-- Mit Hilfe von include können Templates weitere Templates einbinde -> Wie require in PHP -->
	<include href="{{ 'views/content/' . @content }}">
</main>
</body>
</html>